<%= simple_form_for @bill, url: { action: lambda { @bill.new_record? ? "create" : "update" }.call }, html: { class: "form-horizontal bill" } do |f| %>

  <!-- Errors -->
  <% if @bill.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@bill.errors.count, "error") %> prohibited this meal from being <%= @bill.new_record? ? "created" : "updated" %>:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @bill.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <!-- Meal Select -->
  <div class="form-group">
    <%= f.label :meal_id, class: "control-label col-xs-3" %>
    <div class="col-xs-4">
      <%= f.collection_select(
          :meal_id,
          Meal.order(:date).all,
          :id,
          lambda { |meal| meal.date.inspect },
          {},
          { class: "select optional form-control" }
      ) %>
    </div>
  </div>

  <!-- Resident Select -->
  <div class="form-group">
    <%= f.label 'Cook', class: "control-label col-xs-3" %>
    <div class="col-xs-4">
      <%= f.collection_select(
          :resident_id,
          Resident.order("units.name").includes(:unit).all,
          :id,
          lambda { |r| "#{r&.name} - #{r&.unit&.name}" },
          {},
          { class: "select optional form-control" }
      ) %>
    </div>
  </div>

  <!-- Amount Input -->
  <div class="form-group">
    <%= f.label :amount, class: "control-label col-xs-3" %>
    <div class="input-group col-xs-4">
      <span class="input-group-addon">$</span>
      <%= f.text_field :amount, class: "form-control" %>
    </div>
  </div>

  <!-- Submit / Cancel Buttons -->
  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-8">
      <%= f.submit nil, class: "btn btn-primary js-submit-bill" %>
      <%= link_to "Cancel", bills_path, class: "btn btn-default" %>
    </div>
  </div>

<% end %>

