<div class="page-header">
  <h1>Bills</h1>
</div>



<table class="table table-striped">
  <thead>
    <tr>
      <th>Meal</th>
      <th>Resident</th>
      <th>Original Amount</th>
      <th>Reimburseable Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.meal.date.inspect %></td>
        <td><%= bill.resident.name %></td>
        <td><%= number_to_currency(bill.amount/100.to_f) %></td>
        <td><%= number_to_currency(bill.reimburseable_amount/100.to_f) %></td>
        <td>
          <%= link_to('Edit',
                      edit_bill_path(bill),
                      class: "btn btn-default btn-xs") %>
          <%= link_to('Delete',
                      bill_path(bill),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: "btn btn-danger btn-xs") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @bills %>
