<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @bill.meal.date %>
</p>

<p>
  <strong>Resident:</strong>
  <%= @bill.resident.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bill.amount %>
</p>

<p>
  <strong>Reimburseable Amount:</strong>
  <%= @bill.reimburseable_amount %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
