<%= simple_form_for @meal, :html => { :class => "form-horizontal meal" } do |f| %>

  <% if @meal.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @meal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date, :class => 'control-label col-xs-3' %>
    <div class="col-xs-8">
      <%= f.date_field :date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:date) %>
  </div>

  <div class="form-group">
    <%= f.label :residents, :class => 'control-label col-xs-3' %>
    <div class="col-xs-8 checkbox inline">
      <%= f.collection_check_boxes :resident_ids, Resident.all, :id, :name %>
    </div>
    <%=f.error_span(:resident_ids) %>
  </div>

  <div class="form-group">
    <h3 class="col-xs-offset-3 col-xs-9">Guests</h3>
    <div id="guests" class="col-xs-offset-3 col-xs-9">
      <%= f.simple_fields_for :guests do |guest| %>
        <%= render 'guest_fields', f: guest %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add guest', f, :guests, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-9">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                meals_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
