<%= simple_form_for @meal, html: { class: "form-horizontal" } do |f| %>

  <%= f.input :description %>

  <!-- Residents -->
  <h3>Residents</h3>
  <div class="scrollable well">
    <%= f.collection_check_boxes(:resident_ids,
     Resident.order("units.name").includes(:unit).all,
     :id,
     lambda { |r| "#{r.name} - #{r.unit.name}" },
     { item_wrapper_class: "checkbox" }) %>
  </div>

  <!-- Guests -->
  <h3>Guests</h3>
  <div id="guests">
    <%= f.simple_fields_for :guests do |guest| %>
      <%= render 'guest_fields', f: guest %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add guest', f, :guests, class: 'btn btn-warning' %>
    </div>
  </div>

  <br>
  <br>

  <!-- Update / Cancel buttons -->
  <%= f.submit 'Update', class: "btn btn-primary" %>
  <%= link_to 'Cancel', calendar_path, class: "btn btn-default" %>

<% end %>

<br>
