<div class="page-header">
  <h1>Meals</h1>
</div>

<%= link_to('New', new_meal_path, class: 'btn btn-primary') %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Date</th>
      <th>Cooks</th>
      <th># of Attendees</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= link_to meal.id, meal_path(meal), class: 'id-link' %></td>
        <td><%= meal.date.inspect %></td>
        <td><%= Resident.find(meal.bills.pluck(:resident_id)).pluck(:name).join(', ') %>
        <td><%= meal.attendees %></td>
        <td>
          <%= link_to 'Add Bill', new_bill_path(meal: meal), class: "btn btn-success btn-xs" %>
          <%= link_to 'Edit', edit_meal_path(meal), class: "btn btn-default btn-xs" %>

          <%= link_to('Delete',
                      meal_path(meal),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-xs btn-danger') if @admin %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @meals %>
