<div class="page-header">
  <h1>Meal</h1>
</div>

<!-- Errors -->
<% if @meal.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being deleted:</h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @meal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- Attributes -->
<dl class="dl-horizontal">
  <dt><strong>Date:</strong></dt>
  <dd><%= @meal.date.inspect %></dd>

  <dt><strong>Cap:</strong></dt>
  <dd><%= number_to_currency(@meal.cap/100.to_f) %>/person unit</dd>

  <dt><strong>Cost:</strong></dt>
  <dd><%= number_to_currency(@meal.cost/100.to_f) %></dd>

  <dt><strong>Person Units:</strong></dt>
  <dd><%= @meal.multiplier %></dd>
</dl>

<!-- Back / Edit / Delete buttons -->
<%= link_to 'Back', meals_path, class: "btn btn-default" %>
<%= link_to 'Edit', edit_meal_path(@meal), class: "btn btn-default" %>
<%= link_to('Delete',
             meal_path(@meal),
             method: 'delete',
             data: { confirm: 'Are you sure?' },
             class: "btn btn-danger") if @admin %>
