<%= simple_form_for @resident, :html => { :class => "form-horizontal resident" } do |f| %>

  <% if @resident.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@resident.errors.count, "error") %> prohibited this resident from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @resident.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-xs-2' %>
    <div class="col-xs-10">
      <%= f.text_field :name, :class => 'form-control', autofocus: true %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :multiplier, :class => 'control-label col-xs-2' %>
    <div class="col-xs-10">
      <%= f.text_field :multiplier, :class => 'form-control' %>
    </div>
    <%=f.error_span(:multiplier) %>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-4">
      <%= f.association :unit, collection: Unit.order(:name), :class => 'form-control' %>
    </div>
    <%=f.error_span(:unit_id) %>
  </div>

  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                residents_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
