<div class="page-header">
  <h1>Resident</h1>
</div>

<!-- Attributes -->
<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @resident.name %></dd>

  <dt><strong>Category:</strong></dt>
  <dd><%= category_helper(@resident.multiplier) %></dd>

  <dt><strong>Unit:</strong></dt>
  <dd><%= @resident.unit.name %></dd>

  <dt><strong>Bill Costs:</strong></dt>
  <dd><%= number_to_currency(@resident.bill_costs/100.to_f) %></dd>

  <dt><strong>Bill Reimbursements:</strong></dt>
  <dd><%= number_to_currency(@resident.bill_reimbursements/100.to_f) %></dd>

  <dt><strong>Meal Resident Costs:</strong></dt>
  <dd><%= number_to_currency(@resident.meal_resident_costs/100.to_f) %></dd>

  <dt><strong>Guest_costs:</strong></dt>
  <dd><%= number_to_currency(@resident.guest_costs/100.to_f) %></dd>

  <dt><strong>Balance:</strong></dt>
  <dd><%= number_to_currency(@resident.balance/100.to_f) %></dd>
</dl>

<!-- Back / Edit / Delete buttons -->
<%= link_to('Back', residents_path, class: "btn btn-default") %>
<%= link_to('Edit', edit_resident_path(@resident), class: "btn btn-default") if @admin %>
<%= link_to('Delete',
            resident_path(@resident),
            method: 'delete',
            data: { confirm: 'Are you sure?' },
            class: "btn btn-danger") if @admin %>
