<%= simple_form_for @unit, url: { action: lambda { @unit.new_record? ? "create" : "update" }.call }, html: { class: "form-horizontal unit" } do |f| %>

  <!-- Errors -->
  <% if @unit.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being <%= @unit.new_record? ? 'created' : 'updated' %>:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @unit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <!-- Name -->
  <div class="form-group">
    <%= f.label :name, required: false, class: "control-label col-xs-2" %>
    <div class="col-xs-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <!-- Submit / Cancel Buttons -->
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit nil, class: "btn btn-primary" %>
      <%= link_to('Cancel', units_path, class: "btn btn-default") %>
    </div>
  </div>

<% end %>
