<%= simple_form_for @community, html: { class: "form-horizontal community" } do |f| %>

  <!-- Name -->
  <div class="form-group">
    <%= f.label :name, class: "control-label col-xs-3" %>
    <div class="col-xs-7">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <!-- Cap -->
  <div class="form-group">
    <%= f.label :cap, class: "control-label col-xs-3" %>
    <div class="col-xs-7">
      <%= f.number_field :cap, class: "form-control", placeholder: 'Cents per person unit' %>
    </div>
  </div>

  <!-- Submit / Cancel buttons -->
  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-9">
      <%= f.submit nil, class: "btn btn-primary" %>
      <%= link_to 'Cancel', communities_path, class: "btn btn-default" %>
    </div>
  </div>

<% end %>
