<div class="page-header">
  <h1>Community</h1>
</div>

<%= link_to('New', new_community_path, class: "btn btn-primary") if @admin %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cap</th>
      <th>Rotation</th>
      <th><%= 'Actions' if @admin %></th>
    </tr>
  </thead>
  <tbody>
    <% @communities.each do |community| %>
      <tr>
        <td><%= community.name %></td>
        <td><%= number_to_currency((community.cap)/100.to_f) %>/person unit</td>
        <td><%= format_rotation_length(community.rotation_length) %></td>
        <td>
          <%= link_to('Edit', edit_community_path(community), class: "btn btn-default btn-xs") if @admin %>

          <%= link_to('Delete',
                      community_path(community),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: "btn btn-xs btn-danger") if @admin %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
