<%= form_for(attendance) do |f| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :multiplier %>
    <%= f.number_field :multiplier %>
  </div>

  <div class="field">
    <%= f.label :is_guest %>
    <%= f.check_box :is_guest %>
  </div>

  <div class="field">
    <%= f.label :resident_id %>
     <%= f.collection_select(:resident_id, Resident.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :meal_id %>
     <%= f.collection_select(:meal_id, Meal.all, :id, :date) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
