<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @attendance.name %>
</p>

<p>
  <strong>Multiplier:</strong>
  <%= @attendance.multiplier %>
</p>

<p>
  <strong>Is guest:</strong>
  <%= @attendance.is_guest %>
</p>

<p>
  <strong>Resident:</strong>
  <%= @attendance.resident.name %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @attendance.meal.date %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
