<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comeals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">

      <!-- Notice -->
      <% if notice %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= notice %>
        </div>
      <% end %>

      <!-- Spinner -->
      <div id="spinner"></div>

      <!-- Header -->
      <% if @signed_in %>
        <div class="page-header">
          <%= link_to('Community', communities_path, class: "btn btn-info btn-xs") if @admin %>
          <%= link_to('Meals', meals_path, class: "btn btn-info btn-xs") if @admin %>
          <%= link_to('Bills', bills_path, class: "btn btn-info btn-xs") if @admin %>
          <%= link_to('Residents', residents_path, class: "btn btn-info btn-xs") if @admin %>
          <%= link_to('Units', units_path, class: "btn btn-info btn-xs") if @admin %>
          <%= link_to 'Calendar', calendar_path, class: "btn btn-info btn-xs" %>
          <%= link_to "Logout#{' Admin' if @admin}", logout_path, method: :post, class: "btn btn-default btn-xs pull-right" %>
        </div>
      <% end %>

      <%= yield %>

    </div>
    <%= javascript_include_tag 'common' %>
  </body>
</html>
