<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comeals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
  </head>

  <body>
    <div class="container" style="min-width: 1800px; max-width: 3600px">
      <%= render partial: 'layouts/flash' %>
      <%= render partial: 'layouts/header' %>

      <div class="row">
        <div id="calendar" class="col-xs-6"></div>
        <div class="col-xs-6">
          <%= yield %>
        </div>
      </div>

    </div>
    <%= javascript_include_tag 'calendar' %>
    <%= javascript_include_tag 'common' %>
    <script src="https://unpkg.com/notie"></script>
  </body>
</html>
